{{> top }}
  <table class="breakdown mt-2 table">
    <tr>
      <th>Month</th>
      <th>Income (Total)</th>
      <th>Expenses</th>
      <th class="split">Gain</th>
      <th class="split">Running</th>
      <th>Income (Main)</th>
      <th>Expenses</th>
      <th>Gains (Main)</th>
      <th>Running</th>
    </tr>
    {{#each breakdown}}
    <tr>
      <td><a href="/report/{{month}}/">{{month}}</a></td>
      <td>{{in}}</td>
      <td>{{out}}</td>
      <td class="split">{{gains}}</td>
      <td class="split">{{running}}</td>
      <td>{{ main_in }}</td>
      <td>{{ out }}</td>
      <td>{{ main_gains }}</td>
      <td>{{ running_main }}</td>
    </tr>
    {{/each}}
  </table>

{{> bottom }}
